@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

h2 {
    text-align: center;
}

.questions {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question {
    padding: 1rem;
    background: #ffffff11;
    box-shadow: 0 0.25rem 0 0 rgba(0, 0, 0, 0.1), 0 -0.25rem 0 0 rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    margin: 1rem;
    text-align: center;
    width: 30rem;
    max-width: 100%;
}

.question h3 {
    text-align: center;
}

.question .answers {
    padding: 0.5rem 0;
}

.question .answers .btn {
    margin: 0.25rem;
}

.actions {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.actions .btn {
    width: 5rem;
    max-width: 100%;
}

.actions .btn-link {
    margin-top: 0.5rem;
}

.btn:not(.btn-link),
.btn.btn-outline-primary:not(.btn-link) {
    padding: 0.5rem;
    color: #131418;
    background: #7ec996;
    box-shadow: 0 0.25rem 0 0 rgba(116, 145, 125, 0.36);
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid transparent;
}

.btn.btn-outline-primary:not(.btn-link) {
    background: transparent;
    color: white;
    border-color: #7ec996;
    box-shadow: 0 0.25rem 0 0 rgba(116, 145, 125, 0.1);
}

.btn.btn-outline-primary.checked:not(.btn-link) {
    background: #C9BC7E;
    border-color: #ffdd39;
    color: #131418;
}

.btn:not(.btn-link)[disabled] {
    background: #7ec99655;
    cursor: not-allowed;
}

.btn-link {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.btn {
    min-width: 5rem;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.85;
}
